
.DS_Store
*/spring-shell.log
.idea/workspace.xml
homework_4/.mvn/wrapper/maven-wrapper.jar
homework_4/.mvn/wrapper/maven-wrapper.properties
homework_4/.mvn/wrapper/maven-wrapper.jar
homework_4/mvnw
homework_4/mvnw.cmd
homework_4/.mvn/wrapper/maven-wrapper.jar
homework_4/.mvn/wrapper/maven-wrapper.jar
*.jar
*.iml

*.idea/
*target/