
.DS_Store
*/spring-shell.log
.idea/workspace.xml
homework_4/.mvn/wrapper/maven-wrapper.jar
homework_4/.mvn/wrapper/maven-wrapper.properties
homework_4/.mvn/wrapper/maven-wrapper.jar
homework_4/mvnw
homework_4/mvnw.cmd
homework_4/.mvn/wrapper/maven-wrapper.jar
homework_4/.mvn/wrapper/maven-wrapper.jar
*.jar
*.iml

homework_3/.idea/
homework_3/target/

homework_4/.idea/
homework_4/target/

homework_5/.idea/
homework_5/target/

homework_6/.idea/
homework_6/target/

homework_7/.idea/
homework_7/target/

homework_9/.idea/
homework_9/target/

homework_10/.idea/
homework_10/target/

homework_12/.idea/
homework_12/target/

homework_13/.idea/
homework_13/target/