HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

homework_10/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.idea/workspace.xml

### Maven
*/.mvn/wrapper/maven-wrapper.jar
*/.mvn/wrapper/maven-wrapper.properties
*/mvnw
*/mvnw.cmd
*.jar

### Spring Shell
homework_10/spring-shell.log