<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>

<form id="add-form" action="add.html" th:method="post" th:action="@{/books/add}">
    <h3>Book Info:</h3>

    <div class="row">
        <label for="book-title-input">Title:</label>
        <input id="book-title-input" name="title" type="text" value="Title"/>
    </div>

    <div class="row">
        <label for="book-description-input">Description:</label>
        <input id="book-description-input" name="description" type="text" value="Description"/>
    </div>

    <div class="row">
        <label for="book-author-input">Author:</label>
        <select id="book-author-input" name="author">
            <option th:each="author : ${authors}"
                    th:value="${author.id}"
                    th:text="${author.penName}">Author
            </option>
        </select>
    </div>

    <div class="row">
        <label for="book-genre-input">Genre:</label>
        <select id="book-genre-input" name="genre">
            <option th:each="genre : ${genres}"
                    th:value="${genre.id}"
                    th:text="${genre.name}">Genre
            </option>
        </select>
    </div>

    <div class="row">
        <button type="submit">Save</button>
        <a href="listBooks.html" th:href="@{/books}"><button type="button">Cancel</button></a>
    </div>
</form>

</body>
</html>
