<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Sign In page</title>
</head>
<body>

<div th:insert="~{stuff/menu :: #nav-menu}"></div>

<!--<p th:if="${error}" class="error">Incorrect user or password</p>-->

<form th:action="@{/auth}" method="post">
    <table>
        <tr>
            <td>Name</td>
            <td><input type="text" name="username"></td>
        </tr>

        <tr>
            <td>Password</td>
            <td><input type="password" name="password"></td>
        </tr>
    </table>

    <button type="submit">Sign In</button>
</form>
<br>
<a th:href="@{/users/sign_up}">
    <button type="button">Sign Up</button>
</a>
</body>
</html>
